/.metadata/
*.zip
.gitignore
/.recommenders/
.project
*.old
*.test
*.dist
*.dist.php
*.test[0-9]
/clusterconfig/typo3/data-root
/clusterconfig/typo3/site-config
/clusterconfig/typo3/typo3conf/site-config
/clusterconfig/typo3/typo3-data
/_backup
/clusterconfig/typo3/typo3_src
/clusterconfig/typo3/typo3temp

## TYPO3 v6.2 (defaults)
# Ignore several upload and file directories.
/fileadmin/user_upload/
/fileadmin/_temp_/
/fileadmin/_processed_/
/uploads/
# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
/typo3conf/deprecation_*.log
/typo3conf/AdditionalConfiguration.php
# Ignore system folders, you should have them symlinked.
# If not comment out the following entries.
/typo3
/typo3_src
/typo3_src-*
/.htaccess
/index.php
# Ignore temp directory.
/typo3temp/